h1 {
    color: red;
  }

  /* p, 
  li {
    color: green;
  } */
  
 /*  REMOVING DOTS in the list
 
 li {
    list-style-type: none;
  } 
*/

/* .special {
    color: orange;
    font-weight: bold;
  }
*/

li.special {
    color: orange;
    font-weight: bold;
  }
  
li em {
    color: rebeccapurple;
  }
  
h1 + p {
    font-size: 200%;
  }
  